<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/about.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <img class="main_img" src="/newPortfolio/assets/rockie_main-Bhiko212.jpg" />
      <div class="about">
        <article>
          <i> Привет!</i> <br />
          Я <b>Frontend-разработчик</b>, и я люблю создавать
          <b>крутые</b> веб-сайты! <br />
          Обычно я использую HTML, CSS, React, Typescript и JavaScript.<br />
          Я также могу использовать другие, новые технологии в своей работе!<br />
        </article>

        <div class="social_links">
          <a
            href="https://github.com/Lubava7"
            target="_blank"
            title="my GitHub"
          >
            <img src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20stroke='currentColor'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'%20class='icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-brand-github'%3e%3cpath%20stroke='none'%20d='M0%200h24v24H0z'%20fill='none'/%3e%3cpath%20d='M9%2019c-4.3%201.4%20-4.3%20-2.5%20-6%20-3m12%205v-3.5c0%20-1%20.1%20-1.4%20-.5%20-2c2.8%20-.3%205.5%20-1.4%205.5%20-6a4.6%204.6%200%200%200%20-1.3%20-3.2a4.2%204.2%200%200%200%20-.1%20-3.2s-1.1%20-.3%20-3.5%201.3a12.3%2012.3%200%200%200%20-6.2%200c-2.4%20-1.6%20-3.5%20-1.3%20-3.5%20-1.3a4.2%204.2%200%200%200%20-.1%203.2a4.6%204.6%200%200%200%20-1.3%203.2c0%204.6%202.7%205.7%205.5%206c-.6%20.6%20-.6%201.2%20-.5%202v3.5'%20/%3e%3c/svg%3e" alt="gh" />
          </a>
          <a
            href="https://t.me/liubava_dev"
            target="_blank"
            title="my tlg: @liubava_dev"
          >
            <img src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20stroke='currentColor'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'%20class='icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-brand-telegram'%3e%3cpath%20stroke='none'%20d='M0%200h24v24H0z'%20fill='none'/%3e%3cpath%20d='M15%2010l-4%204l6%206l4%20-16l-18%207l4%202l2%206l3%20-4'%20/%3e%3c/svg%3e" alt="tlg" />
          </a>
          <a
            href="mailto:liubava.k@bk.ru?subject=From%20Portfolio&body=Hi%20there!"
            target="_blank"
            title="mail me: liubava.k@bk.ru"
          >
            <img src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20stroke='currentColor'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'%20class='icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-mail'%3e%3cpath%20stroke='none'%20d='M0%200h24v24H0z'%20fill='none'/%3e%3cpath%20d='M3%207a2%202%200%200%201%202%20-2h14a2%202%200%200%201%202%202v10a2%202%200%200%201%20-2%202h-14a2%202%200%200%201%20-2%20-2v-10z'%20/%3e%3cpath%20d='M3%207l9%206l9%20-6'%20/%3e%3c/svg%3e" alt="mail" />
          </a>
          <a href="tel:89773255335" title="call me: 8 (977) 325-53-35">
            <img src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20stroke='currentColor'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'%20class='icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-phone'%3e%3cpath%20stroke='none'%20d='M0%200h24v24H0z'%20fill='none'/%3e%3cpath%20d='M5%204h4l2%205l-2.5%201.5a11%2011%200%200%200%205%205l1.5%20-2.5l5%202v4a2%202%200%200%201%20-2%202a16%2016%200%200%201%20-15%20-15a2%202%200%200%201%202%20-2'%20/%3e%3c/svg%3e" alt="phone" />
          </a>
          <a href="https://profi.ru/profile/KanivetsLA" title="let's work!">
            <img src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20stroke='currentColor'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'%20class='icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-user'%3e%3cpath%20stroke='none'%20d='M0%200h24v24H0z'%20fill='none'/%3e%3cpath%20d='M8%207a4%204%200%201%200%208%200a4%204%200%200%200%20-8%200'%20/%3e%3cpath%20d='M6%2021v-2a4%204%200%200%201%204%20-4h4a4%204%200%200%201%204%204v2'%20/%3e%3c/svg%3e" alt="profi" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
