<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/about.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <img class="main_img" src="/newPortfolio/pics/rockie_main.jpg" />
      <div class="about">
        <article>
          <i> Привет!</i> <br />
          Я <b>Frontend-разработчик</b>, и я люблю создавать
          <b>крутые</b> веб-сайты! <br />
          Обычно я использую HTML, CSS, React, Typescript и JavaScript.<br />
          Я также могу использовать другие, новые технологии в своей работе!<br />
        </article>

        <div class="social_links">
          <a
            href="https://github.com/Lubava7"
            target="_blank"
            title="my GitHub"
          >
            <img src="/newPortfolio/svg/gh.svg" alt="gh" />
          </a>
          <a
            href="https://t.me/liubava_dev"
            target="_blank"
            title="my tlg: @liubava_dev"
          >
            <img src="/newPortfolio/svg/tlg.svg" alt="tlg" />
          </a>
          <a
            href="mailto:liubava.k@bk.ru?subject=From%20Portfolio&body=Hi%20there!"
            target="_blank"
            title="mail me: liubava.k@bk.ru"
          >
            <img src="/newPortfolio/svg/mail.svg" alt="mail" />
          </a>
          <a href="tel:89773255335" title="call me: 8 (977) 325-53-35">
            <img src="/newPortfolio/svg/phone.svg" alt="phone" />
          </a>
          <a href="https://profi.ru/profile/KanivetsLA" title="let's work!">
            <img src="/newPortfolio/svg/profi_ru.svg" alt="profi" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
