<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/about.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="about_header">
      <h2>My name here</h2>
      <p>
        smth abt myself here smth abt myself here <br />
        smth abt myself here smth abt myself here smth abt myself here<br />
        smth abt myself here smth abt myself here<br />
        smth abt myself here smth abt myself here smth abt myself here<br />
        smth abt myself here smth abt myself here<br />
        smth abt myself here <br />
      </p>
    </div>
    <div class="social_links">
      <a href="https://github.com/Lubava7" target="_blank" title="my GitHub">
        <img src="../img/svg/gh.svg" alt="gh" />
      </a>
      <a
        href="https://t.me/liubava_dev"
        target="_blank"
        title="my tlg: @liubava_dev"
      >
        <img src="../img/svg/tlg.svg" alt="tlg" />
      </a>
      <a
        href="mailto:liubava.k@bk.ru?subject=From%20Portfolio&body=Hi%20there!"
        target="_blank"
        title="mail me: liubava.k@bk.ru"
      >
        <img src="../img/svg/mail.svg" alt="mail" />
      </a>
      <a
        href="tel:89773255335"
        target="_blank"
        title="call me: 8 (977) 325-53-35"
      >
        <img src="../img/svg/phone.svg" alt="phone" />
      </a>
    </div>
  </body>
</html>
