<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <!-- Profi.ru widget start -->
      <!-- <div
        class="profi-widget"
        data-id="238efcece562bd89c7aea0554b2fcd56"
        data-type="300x100"
      >
        Powered by <a href="https://profi.ru/profile/KanivetsLA">Profi.ru</a>
      </div>
      <script src="https://profi.ru/jqs/widget/widget.js"></script> -->
      <!-- Profi.ru widget end -->
      <!-- Profi.ru widget start -->
      <!-- <div
        class="profi-widget"
        data-id="238efcece562bd89c7aea0554b2fcd56"
        data-type="210x190"
      >
        Powered by <a href="https://profi.ru/profile/KanivetsLA">Profi.ru</a>
      </div>
      <script src="https://profi.ru/jqs/widget/widget.js"></script> -->
      <!-- Profi.ru widget end -->
    </div>
  </body>
</html>
