:root {
  --white: #ffffff;
  --black: #000000;

  --bg-main: #dedede;
  --bg-dark: #1c1c1c;
  --bg-light: #f6f6f6;
  --bg-header: #d87900;

  --color-accent: #ffad50;

  --border-shadow: #32325d40;
  --border-shadow-dark: #0000004d;

  --text-main: #1c1c1c;
  --text-secondary: #7a7a7a;

  --icon-main: #454545;

  --button-bg: #dbdbdb;
  --button-text: #1c1c1c;
  --button-border: #1c1c1c;
}
